<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyThoughts - Thought</title>
  <script src="https://kit.fontawesome.com/23c2a211eb.js" crossorigin="anonymous"></script>
  <link rel="icon" href="/favicon-16x16.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:wght@400;500;700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/output.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/thought.css" type="text/css">
  <link rel="stylesheet" href="/css/taglist.css" type="text/css">
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" /> -->

</head>

<body class="background">
  <div class="navbar">
    <div class="flex-1">
    </div>
    <div class="flex-none">
      <a href="/myThoughts" class="btn btn-ghost normal-case text-xl">MyThoughts</a></li>
      <a href="/logout" class="btn btn-ghost normal-case text-xl">Log out</a></li>
    </div>
  </div>

  <!--Original Post-->
  <div id="originalPost" class="thought-container card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 id="originalTopic" class="card-title heading"><%= thought.topic %></h2>
      <span class="date"><%= thought.dateCreated %></span>
      <p id="originalText" class="text-content"><%= thought.bodyText %></p>
      <% if(thought.tagList.length > 0) { %>
        <ul id="originalTagList" class="original-tag-list">
          <% for(let i = 0; i < thought.tagList.length; i++) { %>
            <li class="original-tag">
              <span class="original-tag-text">#<%= thought.tagList[i] %></span>
            </li>
          <% } %>
        </ul>
      <% } %>
      <% if(!thought.image) { %>
        <img class="thought-image" src="/img/filler-image.jpg" alt="">
      <% } else { %>
        <img class="thought-image" src="<%= thought.image %>" alt="">
      <% } %>
      <section class="interaction-container">
        <form class="delete-container" action="/thought/deleteThought/<%= thought._id %>?_method=DELETE" method="POST">
          <button class="delete-button btn" type="submit">Delete</button>
        </form>
        <button id="editButton" class="edit-button btn">Edit</button>
      </section>
    </div>
  </div>

  <div id="editForm" class="hero hide">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <div class="back-button-container">
            <button id="backButton" class="back-button btn">Back</button>
          </div>
          <div class="edit-head text-center lg:text-center">
            <h3 class="text-5xl font-bold">Edit Thought</h1>
          </div>
          <form enctype="multipart/form-data" action="/thought/updateThought/<%= thought._id %>?_method=PUT" method="POST">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Topic</span>
              </label>
              <input class="input topic-input input-bordered w-full max-w-xs" type="text" name="topic" placeholder="Topic" id="topic" required>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Thoughts</span>
              </label>
              <textarea class="textarea" name="bodyText" placeholder="Your thoughts" id="bodyText" required></textarea>
            </div>
            <div class="form-control">
              <button id="addTagButton" class="add-tag-btn btn" type="button">
                <span>Add Tag</span>
              </button>
              <ul id="tagList" class="tag-list">

              </ul>
            </div>
            <div class="form-control">
              <% if (locals.messages.errors) { %>
                <% for(let i = 0; i < messages.errors.length; i++) { %>
                    <div class="alert alert-danger"><%= messages.errors[i].msg %></div>
                <% } %>    
              <% } %>
              <input type="file" class="file-input w-full max-w-xs" name="file"/>
            </div>
            <div class="form-control mt-6">
              <button type="submit" class="btn">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/editpost.js"></script>
</body>
</html>